$whiteFFF: #fff;
$black866: #4C5866;
$grey59B: #85859B;

$background: #EBEBEB;

$purple5FE: #7875FE;

$z-point: 100;

// @mixin button {
//   font-size: 20px;
//   font-weight: 500;
//   background-color: $white;
//   color: $green;
//   padding: 20px 60px;
//   border: 1px solid $green;
// }